/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.lsp
.calva
.clj-kondo
/.clj-kondo
src/advent-of-code-2020/day-04/passport-processing.clj
.clj-kondo/
.cpcache/